# Class 04: Basics of Python Programming 3

For loops and functions  

- Complete the activities as instructed by the professor

#### Import any packages we need below (update as we go):

In [1]:
import numpy as np

## <font color='green'> From Last Time </font> ##
### Loading in data from text file, copying the array, mathematical functions 
- Download numbers.txt and numbers2D.txt from Moodle or the book website 
- print both out to see what they look like
- print the element from numbers2D that is in the third row and second column 
- Make a copy of the one of the arrays 
- take the square root of the copy

In [9]:
a_arr = np.loadtxt("numbers.txt", float)
b_arr = np.loadtxt("numbers2D.txt", float)

#print out data
print(a_arr)
print(b_arr)

# print out 3rd row 2nd col
print(b_arr[2,1])

#make a coby of b_arr
copy_arr = np.copy(b_arr)
copy_arr[3,0] = -99.99
print(copy_arr)

# square root
c_arr = np.sqrt(copy_arr)
print(c_arr)

[ 2.  -1.5  4.   9.2  8.  70.6 16.  32. ]
[[  2.    4. ]
 [ -1.5  -3. ]
 [  4.    8. ]
 [  9.2  18.4]
 [  8.   16. ]
 [ 70.6 141.2]
 [ 16.   32. ]
 [ 32.   64. ]]
8.0
[[  2.     4.  ]
 [ -1.5   -3.  ]
 [  4.     8.  ]
 [-99.99  18.4 ]
 [  8.    16.  ]
 [ 70.6  141.2 ]
 [ 16.    32.  ]
 [ 32.    64.  ]]
[[ 1.41421356  2.        ]
 [        nan         nan]
 [ 2.          2.82842712]
 [        nan  4.28952212]
 [ 2.82842712  4.        ]
 [ 8.40238062 11.88276062]
 [ 4.          5.65685425]
 [ 5.65685425  8.        ]]

C:\Users\ktown\AppData\Local\Temp\ipykernel_60640\2498961720.py:17: RuntimeWarning: invalid value encountered in sqrt
  c_arr = np.sqrt(copy_arr)

### <font color='purple'> Sets & Dictionaries </font> 

Here is an example set made from a list:

In [10]:
# set made from a list of three numbers
my_set = set([1,4,-3])
print(my_set)
print(type(my_set))

# another way to define a set
new_set = {1,2,3}
print(new_set)
print(type(new_set))

{1, 4, -3}
<class 'set'>
{1, 2, 3}
<class 'set'>

To create an example dictionary, let's say that I have the following data:
- voltage = 2 V, 4 V, 6 V
- current = 1 A, 2 A, 3 A
- uncertainty in voltage = 0.05 V for all 

Below we will: 
- Make the dictionary based on these values and keys
- Add the key and elements: resistance = 2.0 ohms for all 
- list the keys & dictionary 
- print out the second element of one of the key arrays in the dictionary

In [15]:
voltage = [2, 4, 6] # in volts
current = [1, 2, 3] # in amps
volt_unc = [0.05, 0.05, 0.05]

ohm_dict = {"voltage":voltage, "current":current, "volt_unc":volt_unc}
print(ohm_dict["voltage"][1]) # key, second index value

# print out keys
dict_keys = list(ohm_dict.keys())
print(dict_keys)

# add resistance
resistance = [2, 2, 2] # ohm's law V = IR
ohm_dict["resistance"] = resistance
# ohm_dict["resistance"] = [2, 2, 2]     Another option
print(ohm_dict)

4
['voltage', 'current', 'volt_unc']
{'voltage': [2, 4, 6], 'current': [1, 2, 3], 'volt_unc': [0.05, 0.05, 0.05], 'resistance': [2, 2, 2]}

## <font color='blue'>New Today </font> ##

##  For loops in Python

- Let's write a simple `for` loop that prints out each element of an array

In [21]:
 #xarray = np.arange(0, 15, 5, float)
 
 n = 1 # initializing a counter
 for i in np.arange(0, 20, 3):
    print("Element", n, "in xarray is", i)
    n += 1

Element 1 in xarray is 0
Element 2 in xarray is 3
Element 3 in xarray is 6
Element 4 in xarray is 9
Element 5 in xarray is 12
Element 6 in xarray is 15
Element 7 in xarray is 18

 - try out the `linspace` function in `numpy`

In [25]:
test = np.linspace(4, 10, 20)
print(test)

[ 4.          4.31578947  4.63157895  4.94736842  5.26315789  5.57894737
  5.89473684  6.21052632  6.52631579  6.84210526  7.15789474  7.47368421
  7.78947368  8.10526316  8.42105263  8.73684211  9.05263158  9.36842105
  9.68421053 10.        ]

-  let's write a simple for loop that includes an if/else statement

In [ ]:
for aa in range(20):
    if aa<10: # conditional statement
        print(aa, "is less than 10")
    elif aa>=10 and aa<15:
        break # breaks out of both loops
    else:
        print("oh no")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

#### Nested for loops

-  Create a nested for loop that iterates through 2 different lists, element-by-element

In [28]:
a = range(5)
b = np.linspace(5,50,5)
print(a)
print(b)
for i in a:
    for j in b:
        print("the result of", i, "divided by", j, "is", i/j)

range(0, 5)
[ 5.   16.25 27.5  38.75 50.  ]
the result of 0 divided by 5.0 is 0.0
the result of 0 divided by 16.25 is 0.0
the result of 0 divided by 27.5 is 0.0
the result of 0 divided by 38.75 is 0.0
the result of 0 divided by 50.0 is 0.0
the result of 1 divided by 5.0 is 0.2
the result of 1 divided by 16.25 is 0.06153846153846154
the result of 1 divided by 27.5 is 0.03636363636363636
the result of 1 divided by 38.75 is 0.025806451612903226
the result of 1 divided by 50.0 is 0.02
the result of 2 divided by 5.0 is 0.4
the result of 2 divided by 16.25 is 0.12307692307692308
the result of 2 divided by 27.5 is 0.07272727272727272
the result of 2 divided by 38.75 is 0.05161290322580645
the result of 2 divided by 50.0 is 0.04
the result of 3 divided by 5.0 is 0.6
the result of 3 divided by 16.25 is 0.18461538461538463
the result of 3 divided by 27.5 is 0.10909090909090909
the result of 3 divided by 38.75 is 0.07741935483870968
the result of 3 divided by 50.0 is 0.06
the result of 4 divided by 5.0 is 0.8
the result of 4 divided by 16.25 is 0.24615384615384617
the result of 4 divided by 27.5 is 0.14545454545454545
the result of 4 divided by 38.75 is 0.1032258064516129
the result of 4 divided by 50.0 is 0.08

#### Emission lines of hydrogen (example 2.7 - page 73)

Rydberg formula:
$$ \frac{1}{\lambda} = R \left( \frac{1}{m^2} - \frac{1}{n^2} \right) $$

where $ R = 1.097 \times 10^{7}$ m$^{-1}$

Calculate the 5 longest wavelengths (in nm) for m = 1 (Lyman), m = 2 (Balmer), and m = 3 (Paschen)

#### interesting extra shortcut
- try the cell below

In [ ]:
s = 1
print(s)
x = 2
s += s+x 
print(s, x)

### List comprehension

Typing out a list in brackets is not always the best or quickest way to create a list. Besides some of the methods we have talked about, `range()` for example, you can use an equation combined with a for loop and range to create a list:

`squares = [x**2 for x in range(10)]`
    
    
- Here's another interesting example: 

     `a = ["rabbit", "pig", "dog", "cat", "human", "monkey", "chicken", "squirrel"]`

    `short = [q for q in a if len(q) == 3]`

- Try running the second example to create the list squares.
- Can you then make this list contain only the even numbers? (the modulus operator `%` could be useful here)

In [29]:
squares = [x**2 for x in range(10)] # for each x in the range(10), each x gets squared
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## User-defined functions

#### Defining a function

- Let's create a user-defined function that accomplishes the following:
    - the function requires two parameters: a & b
    - if a < b, the function returns the product of the two
    - if a > b, then the function returns the results of a/b

In [37]:
def example_function(a, b):
    if a < b:
        return a*b
    else:
        return a/b, a**3 # can return multiple things as a list

In [38]:
print(example_function(3,2))

c = example_function(6,7)
print(c)

(1.5, 27)
42

- Evaluate the factorial code from the book

In [ ]:
def factorial(n):
    f = 1.0
    for k in range(1,n+1):
        f *= k
    return f

factorial_val = factorial(100)
print(factorial_val)

- Write a function to do the following:
    - requires three parameters: three components of a vector (originally input by a user)
    - calculates and returns the magnitude 
    
**OR**

- Write a function to do the following:
    - requires four parameters: 2 different forces in the xy-plane with their directions relative to the x-axis in degrees 
    - calculates and returns the magnitude and direction 



***Whichever you choose...***
- Call the function and print out the results

In [ ]:
def factorial(n):
    if n==1:
        return 1
    else: 
        return n*factorial(n-1)
    

print(factorial(4))